/* a[target="top"]{
    background-color: yellow;
}

.class1 .class2 h3 {
    padding: 5px;
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 20px;
    background-color: brown;
    height: 20px;
}
div[data-color-value="red"]{
    color: aqua;
}
[class^="foo-"]{

}
[class$="foo-"] */
a[target="_top"]{
    background-color: red;
}
div[data-color]{
    color:red
}

div[data-color-value="yellow"]{
    color:yellow
}

[class*="foo"]{
    color:silver
}

div span{
    color:aqua
}
div>span{
    color:green
}

div~span{
    color:grey
}

p+p{
    color:firebrick
}
[class~="color123"]{
    color:goldenrod
}

[class^="color69"]{
    color:pink
}

[class$="world"]{
    color:orange
}

a[target="_self"]{
    background-color: yellow;
}
a[target="_parent"]{
    background-color: green;
}
.class1 .class2{
    background-color: aqua;
}
.class1.class2{
    background-color: orange;
    align-content: center;
}
.class3 .class1.class2{
    background-color: red;
}

body{
    color: purple;
}